@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.makeGapR1> :not(:last-child) {
  margin-right: 4px;
}

.makeGapR7> :not(:last-child) {
  margin-right: 1.75rem;
}